<div class="country-edit">
  <h1>{{title}}</h1>

  <p *ngIf="this.id && !country"><em>Loading...</em></p>

  <div class="form" [formGroup]="form" (ngSubmit)="onSubmit()">

    <!--<div *ngIf="form.invalid && form.errors?.isDupeCity" class="alert alert-danger">
    <strong>Error</strong>: A city with the same <i>name</i>, <i>lat</i>, <i>lon</i>, and <i>country</i> already exists.

  </div>-->

    <div class="form-group">

      <!--<div class="form-group" [ngClass]="{ 'has-error has-feedback' : hasError('name') }"></div>-->

      <label for="name">Country name:</label>
      <br />
      <input type="text" id="name" formControlName="name" required placeholder="Country name..." class="form-control" />

      <div *ngIf="hasError('name')" class="invalid-feedback">
        <div *ngIf="form.get('name').errors?.required">
          Name is required.
        </div>
        <div *ngIf="form.get('name').errors?.isDupeField">
          Name already exists: please choose another.
        </div>
      </div>

      <!--
    <span *ngIf="hasError('name')" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    <div *ngIf="hasError('name')" class="help-block">Name is a required field: please insert a valid name.</div>
    -->

    </div>

    <div class="form-group">

      <!--<div class="form-group" [ngClass]="{ 'has-error has-feedback' : hasError('lat') }"></div>-->

      <label for="iso2">ISO 3166-1 ALPHA-2 Country Code (2 letters)</label>
      <br />
      <input type="text" id="iso2" formControlName="iso2" required placeholder="2 letter country code..." class="form-control" />

      <div *ngIf="hasError('iso2')" class="invalid-feedback">
        <div *ngIf="form.get('iso2').errors?.required">
          ISO 3166-1 ALPHA-2 Country Code is required.
        </div>
        <div *ngIf="form.get('iso2').errors?.pattern">
          ISO 3166-1 ALPHA-2 Country Code required 2 letters.
        </div>
        <div *ngIf="form.get('iso2').errors?.isDupeField">
          ISO 3166-1 ALPHA-2 Country Code already exists: Please choose another.
        </div>
      </div>

      <!--
    <span *ngIf="hasError('lat')" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    <div *ngIf="hasError('lat')" class="help-block">Latitude is a required field: please insert a valid number.</div>
    -->

    </div>

    <div class="form-group">

      <!--<div class="form-group" [ngClass]="{ 'has-error has-feedback' : hasError('lon') }"></div>-->

      <label for="iso3">ISO 3166-1 ALPHA-3 Country Code (3 letters)</label>
      <br />
      <input type="text" id="iso3" formControlName="iso3" required placeholder="3 letter country code..." class="form-control" />

      <div *ngIf="hasError('iso3')" class="invalid-feedback">
        <div *ngIf="form.get('iso3').errors?.required">
          ISO 3166-1 ALPHA-3 Country Code is required.
        </div>
        <div *ngIf="form.get('iso3').errors?.pattern">
          ISO 3166-1 ALPHA-3 Country Code required 2 letters.
        </div>
        <div *ngIf="form.get('iso3').errors?.isDupeField">
          ISO 3166-1 ALPHA-3 Country Code already exists: Please choose another.
        </div>
      </div>

      <!--
    <span *ngIf="hasError('lon')" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    <div *ngIf="hasError('lon')" class="help-block">Longitude is a required field: please insert a valid number.</div>
    -->

    </div>

    <div class="form-group commands">
      <button *ngIf="id" type="submit" (click)="onSubmit()" class="btn btn-success" [disabled]="form.invalid">Save Country</button>

      <button *ngIf="!id" type="submit" (click)="onSubmit()" class="btn btn-success" [disabled]="form.invalid">Create Country</button>

      <button type="submit" [routerLink]="['/countries']" class="btn btn-default">Cancel</button>
    </div>

    <!-- Form debug info panel -->
    <div class="card bg-light mb-3">
      <div class="card-header">Form Debug Info</div>
      <div class="card-body">
        <div class="card-text">
          <div><strong>Form value:</strong></div>
          <div class="help-block">
            {{ form.value | json }}
          </div>
          <div class="mt-2"><strong>Form status:</strong></div>
          <div class="help-block">
            {{ form.status | json }}
          </div>
        </div>
      </div>
    </div>

    <!-- Form activity log panel -->
    <div class="card bg-light mb-3">
      <div class="card-header">Form Activity Log</div>
      <div class="card-body">
        <div class="card-text">
          <div class="help-block">
            <span *ngIf="activityLog"
                  [innerHTML]="activityLog"></span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
